.confirmation-dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.confirmation-dialog {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.confirmation-buttons {
    margin-top: 20px;
}

.confirmation-buttons button {
    padding: 10px 20px;
    background-color: rgb(158, 158, 158);
    margin: 0 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.confirmation-buttons button:first-child {
    background-color: rgb(158, 158, 158);
    color: white;
}

.confirmation-buttons button:last-child {
    background-color: rgb(158, 158, 158);
    color: white;
}

.confirmation-buttons button:hover {
    opacity: 0.8;
}