.add-select-field {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .add-select-field label {
    display: block;
    margin-bottom: 5px;
  }
  
  .add-select-field input {
    padding: 5px;
    border: 1px solid #ccc;
    flex:1;
  }
  
  .option-item {
      display: flex;
      gap:10px;
      align-items: center;
  }