.header-container {
    display: flex;
    flex-direction: row;
    background-color: bisque;
    border-bottom: 1px solid #615e5e;
    flex: 1;
}

.header-container > h3 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container > div {
    width: 50%;
}