.main-page {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(236, 236, 236);
    gap: 30px;
}

.main-page__content {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.main-page__content > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    min-height: 70vh;
    text-align: justify;
}

