.main-page {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(236, 236, 236);
}

.main-page__content {
    flex: 4;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}
.main-page__content > div {
    width: 50%;
}

