.footer-container {
    display: flex;
    flex: 0.6;
    flex-direction: row;
    min-height: 12vh;
    background-color: rgb(158, 158, 158);
    border-top: 1px solid #3b3b3b;
    width: 100%;
}

.footer-container > h3 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container > div {
    width: 50%;
}
