.new-template-page {
  display: flex; 
  flex-direction: column;
  height: 100vh;
  gap: 2vh;
}

.new-template-container {
  flex: 4;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  align-items: center;
}

.new-form-content {
  display: flex;
  flex-direction: row; 
  flex: 1; 
  width: 100%;
}
  
.new-form-creation {
  flex: 1; 
  padding: 20px;
  border-right: 1px solid #ccc;
}

.new-form-non-table-creations {
  display: flex;
  flex-direction: row;
  gap: 5vw;
}
  

.form-preview-container {
  flex: 1; 
  padding: 20px;
}
  

label {
  display: block;
  margin-bottom: 5px;
}
  
input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box; 
}
  
button {
  padding: 10px;
  background-color: #8a8a8a;
  color: white;
  border: none;
  cursor: pointer;
  width: fit-content;
}
  
button:hover {
  background-color: #242524;
}